:root {
    --cardHeight: 40px;
    --cardGapHeight: 6px;
    --cardGapExtHeight: 100px;
}

.cardContainer {
    height: calc(var(--cardHeight));
    margin: var(--cardGapHeight);
}

.pendingCard {
    opacity: 0.5;
}

.Card {
    transition: opacity;
    transition-duration: 0.5s;
    min-height: 50px;
}

.taskGap {
    height: calc(var(--cardGapHeight));
    background-color: aqua;
}
