.hide-x-scrollbar {
  overflow-x: auto !important;
}

.scroll-y-auto-fade {
  overflow-y: auto !important;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scroll-y-auto-fade::-webkit-scrollbar {
  display: none;
}